%p
  = render '/shared_partials/qr_code', qr_code: (shown_tournament || admin_tournament).show_qr_code

- if admin_tournament.present?
  %p
    = render '/shared_partials/qr_code', qr_code: admin_tournament.admin_qr_code
