.page-header
  %h1= t('.title')

.container
  = form_for tournament do |f|
    = render 'form', f: f
    .form-group
      = f.submit t('.create_tournament'), class: 'btn btn-large btn-block btn-success'
