h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Bold';
}
body {
  font-family: 'Roboto Regular' !important;

  .navbar {
    font-family: 'Roboto Condensed Light' !important;
    .active {
      font-family: 'Roboto Condensed Regular' !important;
    }
  }

  @media (max-width: 991px) {
    span.tab-description, .info-header {
      display: none;
    }
  }

  > .container {
    padding: 60px 15px;
  }
  .page-header {
    margin: 20px 0;
  }
  div.display-qr-code {
    @media (min-width: 992px) {
      float: right;
    }
    @media (max-width: 991px) {
      left: 50%;
      margin-left: -55px;
      position: relative;
    }
  }

  form {
    .field_with_errors {
      input {
        background-color: #ffaaaa;
      }
    }
    label.required:after {
      content: ' *';
      color: #cccccc;
    }
  }

  .stage-row, .stage-row div {
    margin-bottom: 3px;
    .stage-display {
      background-color: #f4f4f4;
      border: 1px solid #cccccc;
      padding: 5px 10px;
      margin-bottom: 5px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      h2 {
        margin-top: 10px;
      }
    }
  }
  .participant-row {
    margin-bottom: 5px;
  }

  .page-header {
    h1 {
      text-align: center;
    }
  }
}
.offset-top {
  margin-top: 30px;
}
