h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Bold';
}
body {
  font-family: 'Roboto Regular' !important;

  .navbar {
    font-family: 'Roboto Condensed Light' !important;
    .active {
      font-family: 'Roboto Condensed Regular' !important;
    }
  }

  > .container {
    padding: 60px 15px 0;
  }
  .page-header {
    margin: 20px 0;
  }
}
